source/Loggly.Config/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="Loggly" elementFormDefault="qualified" targetNamespace="Loggly" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="loggly" type="tns:Loggly.Config.LogglyAppConfigCT" />
	<xs:complexType name="Loggly.Config.LogglyAppConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="tags" type="tns:Loggly.Config.TagAppConfigCT">
				<xs:annotation>
					<xs:documentation>The Tags.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="search" type="tns:Loggly.Config.SearchAppConfigCT">
				<xs:annotation>
					<xs:documentation>The Search.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="transport" type="tns:Loggly.Config.TransportAppConfigCT">
				<xs:annotation>
					<xs:documentation>The Transport.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="customerToken" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CustomerToken.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="applicationName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ApplicationName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="throwExceptions" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The ThrowExceptions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isEnabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsEnabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Loggly.Config.ComplexTagCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="tag" type="tns:Loggly.Config.ComplexTagAppConfigCT">
				<xs:annotation>
					<xs:documentation>The ComplexTagAppConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Loggly.Config.ComplexTagAppConfigCT">
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="assembly" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Assembly.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="formatter" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Formatter.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Loggly.Config.SimpleTagCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="tag" type="tns:Loggly.Config.SimpleTagAppConfigCT">
				<xs:annotation>
					<xs:documentation>The SimpleTagAppConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Loggly.Config.SimpleTagAppConfigCT">
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Loggly.Config.TagAppConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="simple" type="tns:Loggly.Config.SimpleTagCollectionCT">
				<xs:annotation>
					<xs:documentation>The Simple.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="complex" type="tns:Loggly.Config.ComplexTagCollectionCT">
				<xs:annotation>
					<xs:documentation>The Complex.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Loggly.Config.TransportAppConfigCT">
		<xs:attribute name="logTransport" use="optional" type="tns:LogTransport">
			<xs:annotation>
				<xs:documentation>The LogTransport.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endpointHostname" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The EndpointHostname.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endpointPort" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The EndpointPort.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Loggly.Config.SearchAppConfigCT">
		<xs:attribute name="account" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="username" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Username.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="LogTransport">
		<xs:annotation>
			<xs:documentation>LogTransport.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Https">
				<xs:annotation>
					<xs:documentation>Https.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SyslogSecure">
				<xs:annotation>
					<xs:documentation>SyslogSecure.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SyslogUdp">
				<xs:annotation>
					<xs:documentation>SyslogUdp.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SyslogTcp">
				<xs:annotation>
					<xs:documentation>SyslogTcp.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
